<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Sistemas de Tarefas</title>
</head>
<body>
    <form action="/adicionar" method="POST">
        <div class="container">
            <input type="text" name="tarefa_digitada" placeholder="Digite uma tarefa" required>
            <button type="submit">Adicionar tarefa</button>
        </div>
    </form>

    <ul>
        {% for tarefa in tarefas %}
            <li>{{ tarefa }}</li>
        {% endfor %}
    </ul>
</body>
</html>